h1 { color:red; }

.afsquare {
	float: left;
}

.squer {
	color: red;
	height: 100px;
	width: 100px;
	border: 2px solid #FFFFFF;
	margin: 10px;
	text-align: center;
	/*Test transition*/
	-webkit-transition: width 0.05s, height 0.05s; /*For webkit*/
	-webkit-transition-timing-function: cubic-bezier(0,0,0.58,1);
	transition: width 0.05s, height 0.05s;
	transition-timing-function: cubic-bezier(0,0,0.58,1);
}

.squer:hover {
	opacity: 1;
	width: 120px;
	height: 120px;
	border: 2px solid #000000;
}

.squer:before {
	content: ""
	opacity: 1;
	width: 120px;
	height: 120px;
	border: 2px solid #000000;
}

.squer:after {
	content: ""
	opacity: 1;
	width: 120px;
	height: 120px;
	border: 2px solid #000000;
}